/* Nulstilling af margin og padding på alle elementer, samt ændring af box model på alle elementer */
* {
  box-sizing: border-box;
}

/* Normalisering af font og linjehøjde på dokumentets tekster, samt nedtoning af tekstfarven */
body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

header {
  position: sticky;
  top: 0;
  margin-top: 0%;
  padding: 1rem 2rem;
  box-shadow: 0 12px 28px 0 rgb(0 0 0 / 30%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0.4rem;
  gap: 30px;
  overflow-x: auto;
  font-family: "brodtekst";
  font-size: 1.5rem;
}

/* burgermenu */
.toggle-btn {
  background: transparent;
  border: none;
  min-width: 44px;
  min-height: 44px;
  font-size: 1.1rem;
  cursor: pointer;
  display: none; /* Skjul knappen som standard */
}

@media (max-width: 600px) {
  .toggle-btn {
    display: block; /* Vis knappen, når viewporten maksimalt er 600px */
  }

  .main-menu {
    display: contents; /* Fjern ".main-menu"-boksen fra ligningen, når viewporten maksimalt er 600px, men behold børnene, så disse deltager i flex-kontekten */
  }

  .main-menu ul {
    display: none; /* Fjern menu-listen som standard */
  }

  .main-menu.shown ul {
    /* Vis menu-listen, når klassen ".shown" er til stede */
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
    text-align: center;
  }
}

.toggle-btn .close {
  display: none;
}

.pressed .close {
  display: block;
}

.pressed .menubtn {
  display: none;
}

@font-face {
  font-family: "brodtekst";
  src: url(fonte/Rokkitt/static/Rokkitt-Regular.ttf);
}

@font-face {
  font-family: "overskrift";
  src: url(fonte/Rokkitt/static/Rokkitt-Bold.ttf);
}

@font-face {
  font-family: "tynd";
  src: url(fonte/Rokkitt/static/Rokkitt-Light.ttf);
}

p {
  font-size: 1.2rem;
}

h1 {
  font-family: "overskrift";
  font-size: 1.5rem;
  color: black;
}

h2 {
  font-family: "brodtekst";
  font-size: 1.5rem;
  color: black;
}

h3 {
  font-family: "brodtekst";
  font-size: 1.5rem;
  color: black;
}

li {
  float: right;
}

.footerstyle {
  background-color: lightgrey;
  padding: 3%;
  margin-top: 15px;
}

.linkedinbillede {
  width: 10%;
  float: right;
  margin-bottom: 10px;
}

.footertekst {
  font-family: "brodtekst";
}
