@media (min-width: 600px) {
  .grid_forsidemenu {
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 10%;
    margin-top: 5%;
    justify-content: space-between;
    height: 500px;
  }
  .container img {
    width: 100%;
    height: auto;
  }
  body {
    background-repeat: no-repeat;
    object-fit: cover;
    background-image: url(billeder/forgrund.png);
  }
}
.grid_forsidemenu {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-right: 10%;
  margin-top: 5%;
  justify-content: space-between;
  height: 100px;
  gap: 50%;
}

body {
  background-color: black;
}

.menuknapper a {
  font-family: "brodtekst";
  font-size: 2rem;
  font-style: normal;
  color: white;
}

.menuknapper {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  text-align: center;
  gap: 50px;
}
