.container {
  position: relative;
  width: 100%;
}

.container img {
  width: 100%;
  height: auto;
}

@media (min-width: 600px) {
  .grid_forsidemenu {
    display: grid;
    grid-template-columns: 1fr;
  }
}

body {
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(billeder/forgrund.png);
}

.menuknapper {
  margin: 15%;
}

.tema02knap {
  margin-left: 50rem;
  margin-top: -12rem;
}

.tema03knap {
  margin-left: 50rem;
  margin-top: -6rem;
}

.tema04kknap {
  margin-left: 50rem;
  margin-top: 0rem;
}

.tema05knap {
  margin-left: 50rem;
  margin-top: 1rem;
}

.portfolioknap {
  margin-left: 50rem;
  margin-top: 4rem;
}

.ommigknap {
  margin-left: 50rem;
  margin-top: 2rem;
}

button {
  all: unset;
  cursor: pointer;
  color: white;
  margin-top: 33px;
  font-family: "brodtekst";
  font-size: 1.5rem;
}
