@media (min-width: 600px) {
  .migbillede {
    width: 25%;
  }

  .mig {
    display: flex;
    justify-content: center;
    margin-top: 5%;
  }
  .centered {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5rem;
    font-family: "overskrift";
    color: white;
  }
  .studerende {
    text-align: center;
  }

  .kea {
    text-align: center;
  }

  .kobenhavn {
    text-align: center;
  }
}

body {
  background-color: black;
}

.cvknap {
  margin-left: 45%;
  margin-top: 20px;
}

.knap a {
  font-family: "brodtekst";
  font-size: 2rem;
  font-style: normal;
  color: white;
}

.knap {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
  text-align: center;
  gap: 50px;
}
