.indholdtema05 {
  background-color: white;
  padding-bottom: 10%;
}

body {
  background-color: black;
}

.baggrundsfarve {
  background-color: black;
  padding-bottom: 5%;
}

.emnesiteoverskrift4 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}

.temabeskrivelse4 {
  text-align: center;
  font-family: "brodtekst";
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}

button {
  background-color: black;
  color: white;
  text-align: center;
  margin: 4px 2px;
  font-size: 1.5rem;
  font-family: "brodtekst";
  display: inline-block;
}

.knapper {
  margin: 10px;
  text-align: center;
  margin-top: 3%;
}

.piobillede {
  width: 50%;
  margin: 10px;
  float: left;
}

.piotekst {
  font-family: "brodtekst";
}

.storytekst {
  font-family: "brodtekst";
}

.storyboard1 {
  width: 70%;
  margin: 10px;
  float: left;
}

.grid_1-1pt4,
.grid_1-1pt5 {
  display: grid;
  grid-template-columns: 1fr;
  width: 110%;
}

@media (min-width: 600px) {
  .grid_1-1pt4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    gap: 20px;
  }

  .grid_1-1pt5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    gap: 20px;
  }
}
