.temabeskrivelse1 {
  text-align: center;
}

.emnesiteoverskrift2 {
  text-align: center;
  margin-top: 5%;
}

.temabeskrivelse2 {
  text-align: center;
}

.testtekst {
  text-align: center;
}

.testogresearch {
  text-align: center;
}
