.indholdindex {
  background-color: white;
  margin-top: 0%;
  margin-left: 10%;
  margin-right: 10%;
}

body {
  background-color: black;
}

.emnesiteoverskrift1 {
  text-align: center;
  margin-top: 3%;
}

.temabeskrivelse1 {
  text-align: center;
  font-family: "tynd";
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5%;
}

.baggrundsfarve {
  border-style: double;
  color: #102fde;
  margin: 5%;
}

.designproces {
  text-align: center;
  margin-top: 5%;
}

.designbeskrivelse {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
  font-family: "tynd";
}

.moodboardbillede {
  width: 65%;
  float: right;
  margin: 35px;
}

.moodboardtekst {
  margin: 35px;
  font-family: "brodtekst";
}

.styletilebillede {
  width: 65%;
  float: right;
  margin: 35px;
}

.styletiletekst {
  margin: 35px;
  font-family: "brodtekst";
}

.mockupbillede {
  width: 65%;
  float: right;
  margin: 35px;
}

.mockuptekst {
  margin: 35px;
  font-family: "brodtekst";
}

.layoutdiagrambillede {
  width: 65%;
  float: right;
  margin: 35px;
}

.layoutdiagrammertekst {
  margin: 35px;
  font-family: "brodtekst";
}

.knapper {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

button {
  background-color: #102fde;
  color: white;
  text-align: center;
  margin: 4px 2px;
  font-size: 1.5rem;
  font-family: "brodtekst";
  display: inline-block;
}

@media (min-width: 600px) {
  .img {
    gap: 20px;
  }

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    gap: 20px;
    border-style: solid;
    border-color: #102fde;
    border-width: thin;
  }

  .grid_1-1pt2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    gap: 20px;
    border-style: solid;
    border-color: #102fde;
    border-width: thin;
  }

  .grid_1-1pt3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    gap: 20px;
    border-style: solid;
    border-color: #102fde;
    border-width: thin;
  }

  .grid_1-1pt4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    gap: 20px;
    border-style: solid;
    border-color: #102fde;
    border-width: thin;
  }
}
