.indholdtema04 {
  background-color: white;
  padding-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

body {
  background-color: black;
}

.baggrundsfarve {
  background-color: black;
  padding-bottom: 5%;
}

.emnesiteoverskrift3 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}

.temabeskrivelse3 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}

.animationstekst {
  text-align: center;
}

.javascripttekst {
  text-align: center;
}

.knapper {
  margin: 10px;
  text-align: center;
}

button {
  background-color: black;
  color: white;
  text-align: center;
  margin: 4px 2px;
  font-size: 1.5rem;
  font-family: "brodtekst";
  display: inline-block;
}

.aktivitetsdiagrambillede {
  width: 50%;
  margin: 10px;
}

.javascripttekst {
  margin-left: 20px;
  margin-right: 20px;
}

@media (min-width: 600px) {
  .grid_1-1pt2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    gap: 20px;
    border-style: solid;
    border-style: dotted;
    border-color: black;
  }

  .grid_1-1pt3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    gap: 20px;
    border-style: solid;
    border-style: dotted;
    border-color: black;
  }
}
