.bagrundsfarve {
  border-style: double;
  margin: 5%;
  color: #102fde;
}

.temabeskrivelse1 {
  text-align: center;
}

.emnesiteoverskrift2 {
  text-align: center;
  margin-top: 3%;
}

.temabeskrivelse2 {
  text-align: center;
  font-family: "tynd";
  margin-left: 5%;
  margin-right: 5%;
}

.testtekst {
  text-align: center;
}

.testogresearch {
  text-align: center;
}

.knapper {
  margin: 10px;
  text-align: center;
}

button {
  background-color: #102fde;
  color: white;
  text-align: center;
  margin: 4px 2px;
  font-size: 1.5rem;
  font-family: "brodtekst";
  display: inline-block;
}

.prototypebillede {
  width: 100%;
}

.prototypebillede2 {
  width: 100%;
}

.fiveactbillede1 {
  width: 75%;
  margin: 10px;
}

.fiveactbillede2 {
  width: 95%;
  margin: 10px;
}

.citatbillede2 {
  margin-top: 5%;
  float: right;
}

@media (min-width: 600px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5%;
    gap: 20px;
    border-style: solid;
    border-color: #102fde;
    border-width: thin;
  }

  .grid_1-1pt2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5%;
    gap: 20px;
    border-style: solid;
    border-color: #102fde;
    border-width: thin;
  }

  .grid_1-1pt3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 5%;
    gap: 20px;
    border-style: solid;
    border-color: #102fde;
    border-width: thin;
  }
}
