.indholdtema05 {
  background-color: white;
  padding-bottom: 10%;
}

body {
  background-color: black;
}

.baggrundsfarve {
  background-color: black;
  padding-bottom: 5%;
}

.emnesiteoverskrift4 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}

.temabeskrivelse4 {
  text-align: center;
  font-family: "brodtekst";
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}

.knapper a {
  font-family: "brodtekst";
  font-size: 2rem;
  font-style: normal;
  color: black;
}

.piobillede {
  width: 50%;
  margin: 10px;
  float: left;
}

.piotekst {
  font-family: "brodtekst";
}

.storytekst {
  font-family: "brodtekst";
}

.storyboard1 {
  width: 70%;
  margin: 10px;
  float: left;
}

.grid_1-1pt4,
.grid_1-1pt5,
.knapper,
.knapper a {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width: 600px) {
  .grid_1-1pt4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    gap: 20px;
  }

  .grid_1-1pt5 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5%;
    gap: 20px;
  }

  .knapper a {
    font-family: "brodtekst";
    font-size: 2rem;
    font-style: normal;
    color: black;
  }

  .knapper {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    text-align: center;
    gap: 50px;
  }
}
