.indholdtema03 {
  background-color: white;
  padding-bottom: 10%;
}

body {
  background-color: black;
}

.bagrundsfarve {
  background-color: black;
  padding-bottom: 5%;
}

.temabeskrivelse1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}

.emnesiteoverskrift2 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
}

.temabeskrivelse2 {
  text-align: center;
  font-family: "tynd";
  margin-left: 10%;
  margin-right: 10%;
  color: white;
}

.indsigttekst {
  text-align: center;
  font-family: "brodtekst";
}

.prototypeogresearchtekst {
  text-align: center;
  font-family: "brodtekst";
}

.knapper {
  margin-top: 3%;
  text-align: center;
}

button {
  background-color: black;
  color: white;
  text-align: center;
  margin: 4px 2px;
  font-size: 1.5rem;
  font-family: "brodtekst";
  display: inline-block;
}

.prototypebillede {
  width: 100%;
}

.prototypebillede2 {
  width: 100%;
}

.citatbillede2 {
  margin-top: 40%;
  float: right;
}

.citatbillede1 {
  margin-top: 40%;
}

@media (min-width: 600px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    gap: 20px;
  }

  .indsigttekst {
    grid-column: 2;
    grid-row: 1;
  }

  .citatbillede1 {
    grid-column: 1;
    grid-row: 2;
  }

  .citatbillede2 {
    grid-column: 1;
    grid-row: 3;
  }

  .grid_1-1pt3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    gap: 20px;
  }
}
